* {
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  width: 100vw;
  background-color: lightcoral;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 26px;
}

.header p {
  display: none;
}

p.mobile {
  display: block;
}

@media (min-width: 600px) {
  .header {
    height: 80px;
    background-color: lightskyblue;
  }
  p.mobile {
    display: none;
  }
  p.table-portrait {
    display: block;
  }
}

@media (min-width: 768px) {
  .header {
    background-color: lightgreen;
    color: red;
  }
  p.table-portrait {
    display: none;
  }
  p.tablet-landscape {
    display: block;
  }
}
