* {
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}

.flex-container {
  width: 400px;
}

.flex-container div {
  border-radius: 5px;
}

.top {
  height: 100px;
  display: flex;
}

.bottom {
  height: 200px;
  display: flex;
  margin-top: 10px;
}

.bottom-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aquamarine {
  background-color: aquamarine;
  width: 100%;
  height: 48%;
}

.blue {
  width: 50%;
  height: 100%;
  background-color: blue;
  margin-left: 10px;
}

.orange {
  background-color: rgb(224, 88, 38);
  height: 100%;
  margin-right: 10px;
  width: 60%;
}

.light-blue {
  background-color: lightblue;
  height: 100%;
  width: 40%;
}
