/* #about, .circle {
  border: 1px solid;
  width: 100px;
  height: 100px;
}


#main p span.imp {
  color: blue;
  font-size: 22px;
}

.container {
  width: 600px;
  height: 400px;
  border: 2px solid red;
} */

.quote {
  font-size: 30px;
}

.content {
  width: 50vw;
  height: 50vh;
  background-color: lightcoral;
  color: white;
  font-size: 1em;
}